@media screen and (max-width: 768px) {
  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    height: 70px !important;
    
  }
  .header-title h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    color: #050f56;
    text-transform: uppercase;
    position: relative;
  }
  .header-title h1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 98px !important;
    height: 3px !important;
    border-radius: 5px;
    background-color: #fe620d;
  }
}



.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.header-title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.header-title h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.how-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  padding: 0rem 0px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .how-cards-container {
    flex-wrap: wrap;
    padding: 15px;
    
  }
  .how-card {
    width: 170px !important;
    height: 270px !important;
    background: rgba(0, 173, 239, 0.17);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px !important;
    transform: translateX(10px);
  }
  .how-card .how-card-title {
    width: 100%;
    height: 100%;
    /* background-color: orange; */
  }
  .how-card-2{
    transform: translateX(-10px);
  }
  .how-card-3{
    transform: translateX(100px);
  }
  .how-card .how-card-title h5 {
    font-family: "Poppins";
    font-weight: 900 !important;
    font-size: 10px !important;
    color: #050f56;
    margin: 0;
  }
  .how-card .how-card-img {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
  }
  .how-card .how-card-img1 {
    width: 100%;
    height: 150px !important;
    /* background-color: red; */
    display: flex;
    padding-bottom: 7%;

  }
  .how-card .how-card-text p {
    font-family: "Roboto";
    font-weight: 900 !important;
    font-size: 11px !important;
    color: #717171;
    line-height: 10px !important;
    margin: 0;
  }
  .how-card .how-card-text2 {
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    /* margin-top: -28%; */
  }
  .how-card .how-card-text2 p {
    font-family: "Roboto";
    font-weight: 900 !important;
    font-size: 11px !important;
    color: #717171;
    line-height: 10px !important;
    margin: 0;
  }
  .how-card .how-card-img2 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    margin-bottom: 10px !important;
    /* padding-bottom: 48%; */
    /* padding-top: -20px; */
  
  }
}

.how-card {
  width: 380px;
  height: 500px;
  background: rgba(0, 173, 239, 0.17);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.how-card .how-card-title {
  width: 100%;
  height: 100%;
}
.how-card .how-card-title h5 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #050f56;
  margin: 0;
}
.how-card .how-card-img {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
}
.how-card .how-card-img1 {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  padding-bottom: 7%;
}
.how-card .how-card-img2 {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  /* padding-bottom: 48%; */
  /* padding-top: -20px; */

}

.how-card .how-card-text {
  width: 100%;
  height: 100%;
}
.how-card .how-card-text2 {
  width: 100%;
  height: 100%;
  /* margin-top: -28%; */
}
.how-card .how-card-text2 p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  margin: 0;
}
.how-card .how-card-text p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #717171;
  margin: 0;
}

/* Latest Vehicles Section */
.latest-vehicle-section {
  background: #f4f4f4;
  margin-top: 3rem;
  padding-bottom: 50px;
}

.latest-vehicle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.latest-vehicle-header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.latest-vehicle-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.latest-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}
.latest-card .latest-img-wrapper img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.latest-card .latest-info {
  padding: 20px;
}
.latest-card .latest-info .latest-header h5 {
  font-family: "Poppins";
  text-transform: capitalize;
  font-weight: 600;
  font-size: 32px;
  color: #4a4a4a;
  margin: 0;
}
.latest-card .latest-info .latest-header .latest-location {
  margin-top: -5px;
}
.latest-card .latest-info .latest-header .latest-location img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.latest-card .latest-info .latest-header .latest-location span {
  display: inline-block;
  text-transform: capitalize;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  color: #121212;
  margin-left: 5px;
}
.latest-card .latest-info button {
  margin-top: 30px;
  padding: 22px 20px;
  width: 100%;
  border: none;
  background: #050f56;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}

.swiper-latest {
  width: 100%;
  margin-top: 40px;
  padding: 0px 40px;
}
.swiper-latest .swiper-button-prev {
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
.swiper-latest .swiper-button-prev::after {
  font-size: 30px;
  font-weight: bolder;
}

.swiper-latest .swiper-button-next {
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
.swiper-latest .swiper-button-next::after {
  font-size: 30px;
  font-weight: bolder;
}

.tablist-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0px 40px;
}
.tablist-container::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  margin-top: 17px;
  background-color: #dddddd;
}
.tablist-container > li {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  color: #6b6b6b;
  position: relative;
  border: none;
  margin: 0px 0px 0px 0px;
}

.tablist-container li:focus {
  border: none;
}

.tab {
  position: relative;
}
.react-tabs__tab-panel--selected:focus {
  border: none;
}
.tab.active-bar::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0px;
  width: 260px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
  color: #000000;
  z-index: 50;
}
.tab.active-bar:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -100px;
  width: 260px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
  color: #000000;
  z-index: 50;
}
.tab.active-bar:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -100px;
  width: 260px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
  color: #000000;
  z-index: 50;
}
.tab.active-bar:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -80px;
  width: 260px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
  color: #000000;
  z-index: 50;
}
.tab.active-bar:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: 45px;
  left: -10px;
  width: 280px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
  color: #000000;
  z-index: 50;
}

/* Our Categories */
.our-categories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.our-categories-header h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.our-categories-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.our-categories-container {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0rem 2rem;
}
.our-categories-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-category {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.our-category .our-category-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 85%;
  background: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 1rem 1rem;
}

.our-category .our-category-title h6 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

/* Customer Review */
.customer-review-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.customer-review-header h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.customer-review-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.customer-review-container {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
}

.customer-review-container .customer-card {
  width: 100%;
  height: 578px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 20px;
}
.customer-review-container .customer-card .profile-img img {
  width: 132px;
  height: 132px;
  object-fit: cover;
  border-radius: 50%;
}
.customer-review-container .customer-card .profile-name-location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}
.customer-review-container .customer-card .profile-name-location h6 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #050f56;
  padding: 0;
  margin: 0;
}
.customer-review-container
  .customer-card
  .profile-name-location
  .profile-location {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.customer-review-container
  .customer-card
  .profile-name-location
  .profile-location
  img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.customer-review-container
  .customer-card
  .profile-name-location
  .profile-location
  span {
  margin-left: 5px;
  display: inline-block;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  color: #121212;
  text-transform: capitalize;
}
.customer-review-container .customer-card .profile-line {
  width: 100%;
  height: 1px;
  background-color: #cecece;
  margin: 20px 0px;
}
.testimonial-slide {
  padding: 20px 20px;
}

.customer-review-container .customer-card .profile-review p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #8f8f8f;
}

/* Trusted Brands */
.trusted-brands-section {
  background: #f4f4f4;
  margin-top: 3rem;
  padding-bottom: 60px;
}

.trusted-brand-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.trusted-brand-header h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.trusted-brand-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.trusted-brands-container {
  padding-left: 60px;
}

.trusted-brands-container .brand-wrapper {
  width: 160px;
  height: 160px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
}

.trusted-brands-container .brand-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.brands-swiper-slide {
  padding: 10px;
}

/* FAQ Styles */
.faq-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.faq-header h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 38px;
  color: #050f56;
  text-transform: uppercase;
  position: relative;
}
.faq-header h1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 132px;
  height: 5px;
  border-radius: 5px;
  background-color: #fe620d;
}

.faq-container {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 34px;
}
.faq .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq .faq-question .faq-question-title {
  display: flex;
}
.faq .faq-question h2 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  align-self: baseline;
  display: inline-block;
  margin: 0;
}
.faq .faq-question h3 {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
  /* padding: 0px 40px; */

  margin-left: 14px;
}
.faq .faq-question img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.faq .answer p {
  width: 95%;
  /* padding: 0px 40px; */
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  margin: 0;
  margin-left: 19px;
  word-break: break-all;
}

/* Truck section */
.truck-section {
  padding: 0rem 2rem;
  margin-top: 40px;
}

.truck-section .image-wrapper {
  border-radius: 10px;
  overflow: hidden;
}
.truck-section .image-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* media query */
@media screen and (max-width: 768px) {
  .our-categories-container {
    flex-wrap: wrap;
  }
}
