.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.seller-form-container {
  width: 70% !important;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  gap: 20px;
  /* background-color: rgb(143, 86, 86); */
}

.form-routes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 50;
  flex: 1 0 25%;
}
.form-routes::after {
  content: "";
  position: absolute;
  width: 5px !important;
  height: 310px !important;
  background-color: #050f56;
  top: 200px !important;
  left: 32px !important;
  align-self: center;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form-routes .route-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-routes .route-nav a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #929292;
}

.form-routes .route-nav a.active {
  text-decoration: underline;
  color: #00adef;
}

.form-routes .route-nav .circle {
  width: 4rem !important;
  height: 4rem !important;
  background: #ffffff;
  border: 0.5px solid #ebebeb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form-routes .route-nav .circle.active {
  border: 2px solid #00adef;
}

/* Form Details */
.form-details-container {
  width: 80% !important;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.form-details-container .wizard-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 20px 0;
}
.form-details-container .wizard-title h5 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  color: #050f56;
  margin: 0;
}

.line {
  width: 100%;
  height: 0.1px;
  background-color: #d4d4d4;
  margin-top: 20px;
}

/* Form Detail styles */
.form-details {
  padding: 20px;
}

.form-controls {
  display: flex;
  align-content: center;
  margin: 20px 0px 0px 0px;
  gap: 20px;
}
.form-controls .state-input {
  position: relative;
  width: 100%;
}
.form-controls .city-input {
  position: relative;
  width: 100%;
}
.form-controls .brand-input {
  position: relative;
  width: 100%;
}
.form-controls .model-input {
  position: relative;
  width: 100%;
}
.form-controls .suggestion {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: scroll;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 500;
  padding: 5px 20px;
  cursor: pointer;
}
.form-controls label {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 15px;
  color: #050f56;
  display: inline-block;
  width: 150px;
}

.form-controls input {
  width: 100%;
  border: none;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-family: "Roboto";
  padding: 5px 20px;
}
.form-controls input.error-input {
  border: 1px solid red;
}
.form-controls input:focus {
  outline: 2px solid #00adef;
}
.form-controls .years {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.form-controls .years.error-input {
  border: 1px solid red;
}
.form-controls .years .year {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 50px;
  cursor: pointer;
  transition: none;
  border: 1px solid transparent;
}
.form-controls .years .see-more {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px;
  cursor: pointer;
  transition: none;
  border: 1px solid transparent;
  position: relative;
}
.form-controls .years .see-more span {
  display: inline-block;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 10px;
  color: #4a4a4a;
}
.form-controls .years .see-more img {
  width: 17px;
  height: 17px;
  object-fit: cover;
  margin-left: 10px;
}
.form-controls .years .see-more .see-more-years {
  padding: 10px 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: scroll;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.form-controls .years .see-more .see-more-years p {
  cursor: pointer;
  margin: 2px 0 0 0;
  text-align: center;
}

.form-controls .years .year.active {
  border: 1px solid #00adef;
}
.form-controls .years .year span {
  display: inline-block;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 10px;
  color: #4a4a4a;
}
.form-controls .owners {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.form-controls .owners .owner {
  width: 100px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  cursor: pointer;
  transition: none;
  border: 1px solid transparent;
}
.form-controls .owners .owner.active {
  border: 1px solid #00adef;
}
.form-controls .owners .owner span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  color: #4a4a4a;
}

.form-controls .transmission {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.form-controls .transmission .transmission-type {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  cursor: pointer;
  transition: none;
  border: 1px solid transparent;
}
.form-controls .transmission .transmission-type.active {
  border: 1px solid #00adef;
}

.form-controls .transmission .transmission-type span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  color: #616161;
  text-transform: capitalize;
}

.btn-next {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next button {
  border: none;
  padding: 10px 50px;
  background: #050f56;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
}
