.vehicles-container {
  padding: 10px 10px;
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.vehicles-container .filter-sidebar {
  width: 300px;
}

.vehicles-container .filter-sidebar .filter-one {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.vehicles-container .filter-sidebar .filter-one .line {
  width: 100%;
  height: 0.1px;
  background-color: #d4d4d4;
}

.vehicles-container .filter-sidebar .filter-one .filter-container {
  padding: 20px 20px 0;
}
.vehicles-container .filter-sidebar .filter-one .filter-container.kmsdriven {
  padding: 20px 20px 20px;
}

.vehicles-container .filter-sidebar .filter-one .filter-container h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #050f56;
  position: relative;
}
.vehicles-container .filter-sidebar .filter-one .filter-container h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #fe620d;
}

.vehicles-container
  .filter-sidebar
  .filter-one
  .filter-container
  .filter-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.vehicles-container
  .filter-sidebar
  .filter-one
  .filter-container
  .filter-controls
  span {
  display: inline-block;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  margin-left: 20px;
}

/* Filter Two */
.vehicles-container .filter-sidebar .filter-two {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 20px;
}

.vehicles-container .filter-sidebar .filter-two .search-container {
  padding: 20px 20px 0px 0px;
  position: relative;
}
.vehicles-container .filter-sidebar .filter-two .search-container img {
  position: absolute;
  top: 35px;
  left: 10px;
}
.vehicles-container .filter-sidebar .filter-two .search-container input {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.5rem 2rem;
  font-family: inherit;
  border: none;
}
.vehicles-container .filter-sidebar .filter-two .search-container input:focus {
  outline: none;
}

.vehicles-container .filter-sidebar .filter-two .categories-container {
  padding: 20px;
}

.vehicles-container .filter-sidebar .filter-two .categories-container h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #050f56;
  position: relative;
}
.vehicles-container .filter-sidebar .filter-two .categories-container h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #fe620d;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .categories-container
  .category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .categories-container
  .category
  .icon-wrapper {
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: none;
  border: 1px solid transparent;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .categories-container
  .category
  .icon-wrapper
  img {
  width: 17px;
  height: 17px;
  object-fit: cover;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .categories-container
  .category
  a {
  margin-left: 20px;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  color: #121212;
}

.vehicles-container .filter-sidebar .filter-two .line {
  width: 100%;
  height: 0.1px;
  background-color: #d4d4d4;
}

.vehicles-container .filter-sidebar .filter-two .price-container {
  padding: 20px;
}

.vehicles-container .filter-sidebar .filter-two .price-container h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #050f56;
  position: relative;
}
.vehicles-container .filter-sidebar .filter-two .price-container h3:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background-color: #fe620d;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls
  .price-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls
  .price-input
  span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 8px;
  color: #757575;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls
  .price-input
  input {
  width: 100%;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  text-align: center;
  border: none;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls
  .price-input
  input::placeholder {
  font-size: 10px;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .price-container
  .min-max-controls
  .price-input
  input:focus {
  outline: none;
}

.vehicles-container .filter-sidebar .filter-two .vehicles-stats-container {
  padding: 20px;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat {
  width: 100%;
  position: relative;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  .stat-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0rem 0rem 0rem;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  .list {
  display: flex;
  justify-content: flex-start;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  .list
  .list-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  .list
  .list-content
  p {
  margin: 0;
}

.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  color: #121212;
}
.vehicles-container
  .filter-sidebar
  .filter-two
  .vehicles-stats-container
  .vehicle-stat
  img {
  width: 12px;
  height: 12px;
  object-fit: cover;
}

/* vehicles list */

.vehicles-container .vehicles-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
}

.vehicles-container .vehicles-list-container .vehicle-card {
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
.vehicles-container .vehicles-list-container .vehicle-card a {
  text-decoration: none;
}

.vehicles-container .vehicles-list-container .vehicle-card .img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.vehicles-container .vehicles-list-container .vehicle-card .vehicle-info {
  padding: 1rem 1rem;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .name
  h3 {
  color: #050f56;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .name
  .location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .name
  .location
  span {
  display: inline-block;
  margin-left: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
  color: #121212;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .truck-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .truck-stats
  .stat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .truck-stats
  .stat
  span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .selling-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .selling-price
  p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  .selling-price
  p
  span {
  margin-left: 10px;
  font-size: 30px;
  display: inline-block;
  font-weight: bolder;
  color: #00adef;
}

.vehicles-container
  .vehicles-list-container
  .vehicle-card
  .vehicle-info
  button {
  margin-top: 20px;
  border: none;
  background: #050f56;
  border-radius: 7px;
  width: 100%;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
}

.no-data {
  margin: 0 auto;
  object-fit: cover;
}
