.footer-section {
  margin-top: 100px;
  background: url("../assets/footer-bg.svg") no-repeat center/cover;
  position: relative;
}

/* Footer social */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 115px;
  right: 20px;
}
.social-title h5 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #050f56;
}
.social-links img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0px 10px 0px 0px;
}

@media screen and (min-width: 1368px) {
  .social-container {
    top: 20px;
  }
}

/* Footer Container */
.footer-container {
  padding: 50px;
}

.footer-container .break-line {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0px 0px;
}
.footer-container .break-line span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}
.footer-container .break-line .line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 0;
}

.footer-top {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-top .logo-content p {
  width: 450px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  margin-top: 25px;
  word-break: break-all;
}

/* Footer Sitemap one */
.footer-top .footer-sitemap-one {
  margin-top: 100px;
}
.footer-top .footer-sitemap-one ul {
  list-style-type: none;
}
.footer-top .footer-sitemap-one ul li {
  margin: 20px 0px 0px 0px;
}
.footer-top .footer-sitemap-one ul li > a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

/* Footer Sitemap two */
.footer-top .footer-sitemap-two {
  margin-top: 100px;
}
.footer-top .footer-sitemap-two ul {
  list-style-type: none;
}
.footer-top .footer-sitemap-two ul li {
  margin: 20px 0px 0px 0px;
}
.footer-top .footer-sitemap-two ul li > a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

/* footer-download */
.footer-top .footer-download {
  margin-top: 130px;
}
.footer-top .footer-download .app-icons {
  display: flex;
  flex-direction: column;
}
.footer-top .footer-download .footer-download-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-top .footer-download .footer-download-title span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.footer-top .footer-download .footer-download-title h5 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}
.footer-top .footer-download .app-icons img {
  width: 180px;
  height: 130px;
  object-fit: cover;
}

/* Footer Bottom */
.footer-bottom {
  display: flex;
  margin-top: 40px;
}

.footer-bottom .top-cities h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
  position: relative;
}
.footer-bottom .top-cities h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  width: 63px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
}
.footer-bottom .top-cities .cities {
  display: flex;
}
.footer-bottom .top-cities .cities .cities-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px 50px 0px 0px;
  position: relative;
}

.footer-bottom .top-cities .cities .cities-row a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  margin: 15px 0px 0px 0px;
}

.footer-bottom .top-cities .cities .cities-row .border {
  position: absolute;
  top: 30px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-cities .cities .cities-row .border:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-cities .cities .cities-row .border:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-cities .cities .cities-row .border:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: 145px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

/* top brands */
.footer-bottom .top-brands h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
  position: relative;
}
.footer-bottom .top-brands h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  width: 63px;
  height: 3px;
  background-color: #fe620d;
  border-radius: 5px;
}
.footer-bottom .top-brands .brands {
  display: flex;
}
.footer-bottom .top-brands .brands .brands-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px 50px 0px 0px;
  position: relative;
}

.footer-bottom .top-brands .brands .brands-row a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  position: relative;
  margin: 15px 0px 0px 0px;
}

.footer-bottom .top-brands .brands .brands-row .border {
  position: absolute;
  top: 30px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-brands .brands .brands-row .border:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-brands .brands .brands-row .border:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.footer-bottom .top-brands .brands .brands-row .border:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: 145px;
  left: 125%;
  width: 2px;
  height: 20px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

/* Footer Copyright */
.footer-copyright {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.footer-copyright p {
  color: #ffffff;
  font-size: 14px;
}
.footer-copyright p > a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
