.sell-buy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  background: #050f56;
}
.sell-buy-container button {
  padding: 5px 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 13px;
  color: #050f56;
  background: #f9f9f9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  border: none;
}
.sell-buy-container .sell-btn {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .sell-buy-container {
    padding: 5px 40px;
    
  }

  .sell-buy-container button {
    padding: 5px 10px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 10px;
    color: #050f56;
    background: #f9f9f9;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    border: none;
  }
  .nav-container {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    background:#f4f4f4!important;
    /* transform: translateX(10px) !important; */
    height: 150px;
    
  }
  .container-fluid{
    
     justify-content: flex-start !important;
  }
  .navar_div{
    display: flex;
  }
  .logo {
    /* background-color: #050f56; */
    width: 26%;
    margin-right: 10px;
  }
  .logo img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    margin: 0;
    /* background-color: olive; */
  }
  .brand-categories {
    display: flex;
    /* gap: 5px; */
    height: 40px !important;
    width: 49% !important;
    /* margin-left: -100%; */
    /* background-color: orangered; */
  }
  .brand-categories .brand-category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px !important;
    /* background: #c23131 !important; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    cursor: pointer;
    height: 100% !important;
    width: 90px !important;
  }

}

/* NavBar */
.nav-container {
  background: #f4f4f4;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hamburger-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu {
    width: 60px !important;
    display: block;
    cursor: pointer;
    margin-left: 17px;
    /* background-color: orchid; */
  }
  .hamburger-menu img{
    width: 40px;
  }
  .brand-categories .brand-category img {
    width: 20px !important;
    height: 20px !important;
    object-fit: cover;
  }
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 40%;
    margin-top: 20px;
    margin-left: 0px !important;
    /* background-color: olivedrab; */
    /* width: 200px !important; */
  }
  .search-container input {
    padding: 12px 50px;
    width: 370px !important;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    border: none;
  }
}

.brand-categories {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.brand-categories .brand-category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  cursor: pointer;
}
.brand-categories .brand-category img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.brand-categories .brand-category.active {
  border: 1px solid #00adef;
}

/* search */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0 40%;
  margin-left: 12px;
}
.search-container input {
  padding: 12px 50px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  border: none;
}
.search-container input:focus {
  outline: none;
}
.search-container ::placeholder {
  font-size: 12px;
}
.search-container .search-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
}

/* location */
.location-container {
  display: flex;
  padding: 12px 10px;
  background: #ffffff;
  border-radius: 8px;
  align-items: center;
  margin-left: 10px;
  gap: 17px;
}
.location-container .location {
  display: flex;
  align-items: center;
}
.location-container .location span {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  color: #505050;
  margin-left: 3px;
}
.location-container .location img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.location-container .arrow-icon {
  align-self: baseline;
  cursor: pointer;
}

.location-container .arrow-icon img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .location-container {
    display: none;
  }
}

/* languages */
.languages-container {
  display: flex;
  padding: 12px 10px;
  background: #ffffff;
  border-radius: 8px;
  align-items: center;
  margin-left: 10px;
  gap: 17px;
  position: relative;
}
.languages-container .language span {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  color: #505050;
}
.languages-container .language-arrow-icon {
  cursor: pointer;
}
.languages-container .language-arrow-icon img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .languages-container {
    display: none;
  }
}

/* user */

.user {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.09);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 12px;
}
.user img {
  width: 20px;
  height: 25px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .user {
    display: none;
  }
}

/* .SignUpModal{
  height: 100vh !important;
  width: 35% !important;
  background-color: #050f56 !important;
} */


.DivSignInWithOptions{
  animation: slide;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes slide {
  0%{
    transform: translateX(50%);
  }
  100%{
    transform: translateX(0%);
  }
}

.slideBack{
  animation: slide-back;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transition: 0.6s;
}
@keyframes slide-back {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(100%);
  }
}

.closing-arrow{
  width: 2rem;
  cursor: pointer;
  margin-bottom: 8%;
}


.parent{
  background-color: rgba(128, 128, 128, 0.274);
  position:fixed;
  z-index:9999;
  height: 100%;
  width: 67%;
  cursor: pointer;
  animation: zoom;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes zoom {
  0%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.main_parent{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:99;
  
  display: flex;
  justify-content: space-between;
}
.sign-in-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2vw;
margin-bottom: 0;
}
.text-color-blue{
  color: #00ADEF;
}
.sign-in-welcome-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
color: #969696;
}
.sign-in-google,.sign-in-fb,.sign-in-email{
    border: none;
height: 10%;
margin-top: 1vh;
margin-bottom: 2vh;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1vw;



color: #CFCFCF;

}
.sign-in-google img,.sign-in-fb img,.sign-in-email img{
  width: 1.4rem;
  margin-right: 2%;
}
.sign-in-google img{
  margin-left: 22%;
}
.sign-in-fb img{
  margin-left: 22%;
}
.sign-in-email{
  justify-content: center;
}
hr{
  width: 46%;
  display: inline-block;
}
.or-div{
  display: flex;
  align-items: center;
}
.or{
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.2vw;
color: #818181;
}
.phone-no-input{
  background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 10px;
height: 10%;
border: none;
margin-top: 4%;
margin-bottom: 4%;
padding-left: 4%;
}
::placeholder
{
  font-style: normal;
font-weight: 400;
font-size: 1.2vw;
line-height: 23px;

color: #9C9C9C;
}
.sign-in-button{
  background: #050F56;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 10px;
border: none;
height: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 1.8vw;
color: white;
margin-bottom: 2%;
}
.create-account{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: end;
color: #00ADEF;
cursor: pointer;
}
a{
  text-decoration: none;
}


/* sign up */
.signup-closing-arrow{
  width: 2rem;
  cursor: pointer;
  margin-bottom: 6%;
}


.signup-parent{
  background-color: rgba(128, 128, 128, 0.274);
  position:fixed;
  z-index:9999;
  height: 100%;
  width: 67%;
  cursor: pointer;
}
.signup-main_parent{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:99;
  
  display: flex;
  justify-content: space-between;
}
.signup-sign-in-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2vw;
margin-bottom: 6%;
}
.signup-text-color-blue{
  color: #00ADEF;
}
.signup-sign-in-welcome-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
color: #969696;
}
.signup-sign-in-google,.signup-sign-in-fb,.signup-sign-in-email{
    border: none;
height: 10%;
margin-top: 1vh;
margin-bottom: 2vh;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1vw;



color: #CFCFCF;

}
.signup-sign-in-google img,.signup-sign-in-fb img,.signup-sign-in-email img{
  width: 1.4rem;
  margin-right: 2%;
}
.signup-sign-in-google img{
  margin-left: 22%;
}
.signup-sign-in-fb img{
  margin-left: 22%;
}
.signup-sign-in-email{
  justify-content: center;
}
.SinguplocationIcon{
  height: 10%;
  margin-bottom: 4%;
  position: relative;

}
.Singup-location-Icon{
  width: 1.2vw;
  position: absolute;
  z-index: 9;
   top: 1vh; 
   right: 25px;
 transform: translate(50%,50%);
}
.SingupEyeIconDiv{
  height: 9vh;
  margin-bottom: 4%;
  position: relative;
}
.Singup-eye-Icon{
  width: 1.2vw;
  position: absolute;
  z-index: 9;
   top: 1vh; 
   right: 25px;
 transform: translate(50%,50%);
}
@media screen and (min-width: 768px) {
  /* .Singup-eye-Icon{
    width: 1.2vw;
    position: absolute;
    z-index: 9;
     top: 3vh; 
     right: 25px;
   transform: translate(50%,50%);
  }
  .Singup-location-Icon{
    width: 1.2vw;
    position: absolute;
    z-index: 9;
     top: 3vh; 
     right: 25px;
   transform: translate(50%,50%);
  } */
}
.signup-location-input{
  height: 100%;
  width: 100%;
  border: none;
  background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 10px;
padding-left: 4%;
}
.signup-phone-no-input{
  background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 10px;
height: 10%;
border: none;
margin-top: 0%;
margin-bottom: 4%;
padding-left: 4%;
}
::placeholder
{
  font-style: normal;
font-weight: 400;
font-size: 1vw;
line-height: 23px;
font-family: 'Poppins';
color: #999999;
}
.signup-sign-in-button{
  background: #050F56;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 10px;
border: none;
height: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 1.8vw;
color: white;
margin-bottom: 2%;
margin-top: 4%;
}
.signup-create-account{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: end;
color: #00ADEF;
cursor: pointer;
}
a{
  text-decoration: none;
}

/* otp */
.otp-main_parent{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:99;
  display: flex;
  justify-content: space-between;
}
.otp-parent{
  background-color: rgba(128, 128, 128, 0.274);
  position:fixed;
  z-index:9999;
  height: 100%;
  width: 67%;
  cursor: pointer;
}
.otp-closing-arrow{
  width: 2rem;
  cursor: pointer;
  margin-bottom: 8%;
}
.otp-sign-in-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 2vw;
margin-bottom: 0;
}
.otp-welcome-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
color: #969696;
margin-bottom: 8%;
}
.otp-phone-no-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
color: #969696;
margin-bottom: 1%;
}
.otp-phone-no-input{
  background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 6px;
height: 10%;
border: none;
margin-top: 0%;
margin-bottom: 4%;
padding-left: 4%;
}
::placeholder
{
  font-style: normal;
font-weight: 400;
font-size: 1vw;
line-height: 23px;
font-family: 'Poppins';
color: #999999;
}
.otp-create-account{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1vw;
text-align: end;
/* color: #00ADEF; */
cursor: pointer;
margin-top: -2%;
}
.otp-sign-in-button{
  background: #050F56;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.14);
border-radius: 6px;
border: none;
height: 10%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 1.8vw;
color: white;
margin-bottom: 2%;
margin-top: 4%;
}
.timer{
  color:#00ADEF;
  font-weight:bold;
  position: absolute;
  z-index: 9;
  top: 48vh; 
  right: 12%;
 transform: translate(50%,50%);
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1vw;
}
@media screen and (min-width: 1367px) {
  .timer{
    color:#00ADEF;
    font-weight:bold;
    position: absolute;
    z-index: 9;
     top: 46vh; 
     right: 12%;
   transform: translate(50%,50%);
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  }
}
.otp-text-color-blue{
  color: #00ADEF;
  font-weight: 600;
  font-family: 'Roboto';
font-style: normal;
}


/* dropdown */
.drop-down{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 9;
  width: 100%;
  left: 0;
  top: 95%;
  text-align: center;
  background: #FFFFFF;
border-radius: 0px 0px 8px 8px;
}
.language-1{
  border-top: 1px solid #E6E6E6;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #565656;
padding: 0;
padding-top: 3%;
margin-bottom: 3%;
cursor: pointer;
}
.language-2{
  border-top: 1px solid #E6E6E6;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #565656;
padding: 0;
padding-top: 3%;
margin-bottom: 3%;
cursor: pointer;
}
/* .SelectedLanguageDecoration{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4A4A4A;
} */